In [ ]:
#新增資料表===========
import sqlite3
#連接db(不存在自動創建)
conn=sqlite3.connect('D:\webapps\kvm\kcm2.db');
#sql字串
sql_create='''create  table if not exists mykcm(
id integer primary key autoincrement not null,
mykey1 text,
mykey2 text,
number int
);''';
#新增資料表==========
#conn.execute(sql_create);
print("資料表新增成功");

In [ ]:
#新增資料===========
import sqlite3
#連接db(不存在自動創建)
conn=sqlite3.connect('D:\webapps\kvm\kcm4.db');
for key in key_val.keys():
    for key2 in key_val.get(key):
        conn.execute("insert into mykcm(mykey1,mykey2,number)values('%s','%s','%d')"%((key),(key2),(key_val[key][key2])))
print("sql start");
#conn.commit()
conn.close;
print("sql end");

In [4]:
#查詢資料===========
import sqlite3
#連接db(不存在自動創建)
conn=sqlite3.connect('D:\webapps\kvm\kcm2.db');
sql_select="select mykey1,mykey2,number from mykcm where id=3  order by number desc limit 10";
cursor=conn.execute(sql_select);
for row in cursor:
    #print("index:",row[0]);
    print("mykey1:",row[1]);
    print("mykey2:",row[2]);
    print("number:",row[3]);
    print('---'*30);
conn.close;

index: 251975921

IndexError: tuple index out of range

In [ ]:
#刪除資料===========
import sqlite3
#連接db(不存在自動創建)
conn=sqlite3.connect('D:\webapps\kvm\kcm2.db');
sql_delete="delete from mykcm where number=1";

conn.execute(sql_delete);
conn.commit();
conn.close;
print("資料刪除成功");